<%- include("template/cabecera", {title: title, user: user }) %>

    <% if (dataImage.length===0) { %>
        <div class="container">
            <h2>
                Puedes añadir tus imágenes en este botón:
                <button onclick="window.location.href='/new-image'">➕</button>
            </h2>
        </div>
        <% } else { %>
            <h3 style="margin-left: 100px;">
                (<%= dataImage.length %> imágenes)
            </h3>

            <div class="gallery container">
                <% dataImage.forEach(image=> { %>
                    <div class="card" id="<%= image.id %>">
                        <img src="<%= image.urlImagen %>" alt="<%= image.title %>">
                        <div class="card-content">
                            <h3 id="icons"
                                style="display: flex; align-items: center; justify-content: space-between; padding: 5px;">
                                <% if (user) { %>
                                    <i onclick="window.location.href='/image/<%= image.id %>/edit'"
                                        title="Editar imagen" class="fas fa-edit edit-icon"></i>
                                    <i onclick="downloadImage('<%= image.id %>')" title="Descargar imagen"
                                        class="fas fa-arrow-alt-circle-down download-icon"></i>
                                    <% } %>
                                        <i onclick="window.location.href='/image/<%= image.id %>/view'"
                                            title="Ver imagen" class="fas fa-eye view-icon"></i>
                                        <% if (user) { %>
                                            <i onclick="deleteImage('<%= image.id %>')" title="Eliminar imagen"
                                                class="fas fa-trash delete-icon"></i>
                                            <% } %>
                            </h3>
                            <h3 id="name">Nombre: <%= image.title.toUpperCase() %>
                            </h3>
                            <h5 id="date">Fecha: <%= image.date %>
                            </h5>
                            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;"
                                id="description">
                                <%= image.description %>
                            </h5>
                            <h5 id="colors">Colores principales:</h5>
                            <% if (image.colors && image.colors.length) { %>
                                <div class="color-circles">

                                    <% if (image.colors && image.colors.length) { %>
                                        <div class="color-circles">
                                            <% image.colors.forEach(function(color) { %>
                                                <% let rgb=Array.isArray(color._rgb) ? color._rgb : [0, 0, 0, 1] %>
                                                    <div class="color-circle"
                                                        style="background-color: rgba(<%= rgb.join(',') %>);"
                                                        title="rgba(<%= rgb.join(',') %>)">
                                                    </div>
                                                    <% }) %>
                                        </div>
                                        <% } %>
                                </div>
                                <% } else { %>
                                    <p style="color: red;">Colores no disponibles en esta imagen.</p>
                                    <% } %>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } %>

                <%- include("template/footer", {title: title}) %>
                    <script>
                        var dataImage = JSON.parse(`<%- JSON.stringify(dataImage) %>`);
                    </script>
                    <script src="/home.js" defer></script>
                    </body>

                    </html>